/* Nav Bar code does not work will return to repair code
*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  header {
    background: #d21034;
  }
  div#header{
    
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }
  
  li {
      float: left;
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  li a:hover {
      background-color: #111;
  }
  </style>
  </head>
  <body>
  
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  
      </head>
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
    background: #333;
  }
  
  
  a {
    color: #d21034;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }